body{
    background-image: url(crud.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
table{
    width: 80%;
    margin: 40px;
    background: gray;
}
table.list{
    text-align: center;
    width: 100%;
}
td{
    border: 1px solid green;
    padding: 8px 15px;
    text-align: left;
}
tr:nth-child(even),table.list thead> tr{
    background-color: aliceblue;
}
input[type="text"],input[type="number"]{
    width: 91%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(162, 155, 255);
    border-radius: 4px;
}
input[type="submit"],input[type="reset"]{
   background: #eee;
    padding:  6px 12px;
    margin:  15px 0 10px;
    display: inline-block;
    border:none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
}
input[type="submit"]:hover{
    background: #4b99d8;
}
input[type="reset"]:hover{
    background: #4b99d8;
}
button{
    background: #eee;
     padding:  6px 12px;
     margin:  15px 0 10px;
     display: inline-block;
     border:none;
     border-radius: 30px;
     font-size: 1rem;
     cursor: pointer;
 }